<div *ngIf="selectedScreem == 'main'" class="main">
    <div class="header">
        <button mat-icon-button (click)="goToSettings()">
            <mat-icon>settings</mat-icon>
        </button>
    </div>

    <!-- <mat-form-field>
        <input matInput [formControl]="alarmName" placeholder="ponga el nombre de la alarma">
    </mat-form-field>

    <div>
        <button mat-stroked-button color="primary" (click)="createNewAlarm()">Crear Alarma cualquiera</button>
    </div> -->

    <!-- <button (click)="open()">Time</button> -->
    <!-- <input type="time" value="{{selectedTime}}"> -->

    <div *ngFor="let alarmItem of alarmList" class="alarmItem">
        <div class="alarmMainInfo">
            <span class="time" (click)="openTimeSelection(alarmItem)">
                {{ alarmItem.time }}
            </span>
            <span class="time-format">
                {{  alarmItem.format }}
            </span>
            <div class="selector-switch">
                <mat-slide-toggle color="primary" [checked]="alarmItem.active"
                    (change)="updateActiveStatus(alarmItem._id, $event)">
                </mat-slide-toggle>
            </div>

        </div>
        <div class="mat-exp-panel">
            <div class="mat-exp-header">
                <div class="days">{{ alarmItem.days }}</div>
                <div class="button-toogle-exp-panel">
                    <button mat-icon-button color="primary" (click)="alarmItem.showDetails = !alarmItem.showDetails">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                </div>

            </div>
            <div *ngIf="alarmItem.showDetails" class="mat-exp-content">

                <div>
                    <mat-checkbox [value]="alarmItem.days.length != 0" color="primary"
                        (change)="alarmItem.showDaysToRepeat = $event.checked">
                        Repetir
                    </mat-checkbox>
                </div>
                <div *ngIf="alarmItem.showDaysToRepeat" class="checkbox-days">
                    <div class="mat-button-toggle-group">
                        <mat-button-toggle *ngFor="let dayOpt of daysOfWeek" value="dayOpt.key"
                            [checked]="dayOpt.active" (click)="updateDaysToRepeat(alarmItem, dayOpt.key )">
                            <span>{{ dayOpt.label }}</span>
                        </mat-button-toggle>
                    </div>
                </div>
                <div class="sound-selection">
                    <span class="font-size-24" (click)="openSelectionToneScreen(alarmItem)">sound selection</span>
                </div>
                <div>
                    <span>{{ alarmItem.tone.name }}</span>
                </div>
                <div class="name">
                    alarm name
                </div>
                <div class="delete-btn">
                    button to remove
                </div>



            </div>
            <!-- <mat-expansion-panel (opened)="true" (closed)="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ alarmItem.days }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div>
                    contenidop
                </div>
            </mat-expansion-panel> -->

        </div>


    </div>
</div>

<div *ngIf="selectedScreem == 'soundSelection'" class="sound-selection">

    <div *ngIf="!showControlsToCreateTone">
        <button mat-stroked-button color="primary" (click)="showControlsToCreateTone = true">
            Crear uno nuevo nuevo tono
        </button>

    </div>
    <div *ngIf="showControlsToCreateTone" class="tone-creation">

        <span class="font-size-24 mt-8">Mensaje personalizado</span>
        <mat-form-field>
            <input matInput placeholder="Nombre" [formControl]="toneNameInput">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput [formControl]="toneBodyInput" maxlength="500" rows="5"
                placeholder="Es hora de levantarse joven"></textarea>
        </mat-form-field>
        <div>
            <button mat-stroked-button color="primary" (click)="assignNewAlarmTone()">
                Guardar
            </button>
            <button mat-stroked-button color="primary" (click)="showControlsToCreateTone = false">
                Cancelar
            </button>
        </div>


    </div>

    <div *ngIf="!showControlsToCreateTone" class="fx-layout-column" >

        <span class="font-size-24">Otros Mensajes almacenados</span>
        <div *ngFor="let soundOpt of [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]" class="sound-option-list">
            <span style="margin: 8px" class="sound-opt" (click)="setToneToAlarm(soundOpt)" >
                Opcion {{ soundOpt }}
            </span>
        </div>

    </div>

</div>