<div class="main">
    <div class="header">
        <button mat-icon-button (click)="goToSettings()">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <mat-form-field>
        <input matInput [formControl]="alarmName" placeholder="ponga el nombre de la alarma">
    </mat-form-field>

    <div>
        <button mat-stroked-button color="primary" (click)="createNewAlarm()">Crear Alarma cualquiera</button>
    </div>

    <button (click)="open()">Time</button>
    <input type="time" value="{{selectedTime}}">

    <div *ngFor="let item of alarmList" class="alarmItem">
        <div>
            <span class="time">
                {{ item.time }}
            </span>
            <span class="time-format">
                {{  item.format }}
            </span>
            <mat-slide-toggle color="primary" [checked]="item.active">
            </mat-slide-toggle>
        </div>
        <div>
            <!-- <div class="selected-days">
                lunes, martes, sabado
            </div>
            <div>

            </div> -->
            <mat-expansion-panel (opened)="true" (closed)="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        lunes, martes,
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div>
                    contenidop
                </div>
            </mat-expansion-panel>

        </div>


    </div>
</div>